body {
  	width: 100%;
    font-family: Avant Garde, Futura, Calibri;
    background-color: #e7e8db85; 
    font-size: 18px;
    align-items: center;
}

.container {
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Title section */

.title {
    text-align: center;
}

/* Thumbnail section */

.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.cat-thumb {
    text-align: center;
    justify-content: center;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: 20px 10px;
}

.thumbnail:hover {
  	cursor: pointer;
    filter: opacity(0.4);
}

/* Display section */

.display {
    justify-content: center;
    flex-wrap: wrap;
}

.big-cat {
    text-align: center;
    justify-content: center;
    width: 60%;
}

.big-cat:hover {
    cursor: pointer;
}

/* Admin Popup */

.popup {
    position: absolute;
    text-align: left;
    top: 80%;
    background-color: #e09e1985;
    padding: 20px;
    visibility: hidden;
}

.popup.show {
    visibility: visible;
}


input {
    height: 20px;
    width: 300px;
}

button {
    font-family: Avant Garde, Futura, Calibri;
    font-size: 0.8em;
}




